#container{
    width: 600px;
    height: 500px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    position: relative;
}

.slider{
    width: 100%;
    height: 20px;
}

.slider:hover{
    opacity: 1;
}

.cube{
    width: 75px;
    height: 75px;

    position: absolute;
}

.red{background-color: red;margin-top: 5%;margin-left: 5%;}
.blue{background-color: blue;margin-top: 60%;margin-left: 80%;}